.App {
  text-align: left;
  padding-top: 10px;
}
.navbar-default{
  border: none;
  border-radius: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}
