body {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  width: 100%;
  height: 100%;
  background-image: url("bg.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid{
  padding-left: 60px;
}

@media only screen and (max-width: 1400px) {
  body {
      background-size: auto;
  }
  .container-fluid{
    padding-left: 15px;
  }
}

@media only screen and (max-width: 500px) {
  body {
  
      background-size: auto;
      padding-top: 0px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


input[type=radio]{
  transform:scale(1.3);
}